body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*This works for all thumbnails throughout views*/
.thumbnail{
    height:540px;
    background-color:#004641;
    border:10px;
    border-style:solid;
    border-color:#531722;
}
/*this enlarges the total outfit row in the details for wardrobe*/
 #Outfit{
     height:700px;
     color:white;
     margin:auto;
 }
 /*photos in wardrobe detail view*/
#wardrobephotos {
    width: 100px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*default jumbotron info. some of these are replaced later is css*/
.jumbotron {
    background-size: 100% 100%;
    background-image: url('Photos/ClothesPano.jpg');
    height:280px;
    color:white;
    text-align:center;
    border:10px;
    border-style:solid;
    border-color:#005265;
}
/*next several css entries are for wardrobe views*/
#WardrobeDetails{
    background-color:#31092B;
}
#displayrow{
    text-align:center;
    color:white;
    font-family:cursive;
    font-size:40px;
}
#wardrobeinfo{
    text-align:center;
    color:white;
    font-family:cursive;
    font-size:17px;

}
#wardrobedisplayheader{
    font-size:70px;
    font-family:cursive;
}
#windexheader{
    color:white;
    text-align:center;
    font-size:48px;
    font-family:cursive;
}
/*this ended up being used throughout project, not just wardrobe views*/
#itemdetails{
    color:white;
    text-align:center;
    font-size:24px;
    font-family:cursive;
}
/*same with this. also used thoughout*/
#createbutton{
    background-color:lightskyblue;
}
#wardrobeindexbody{
    background-color:#C3B61A;
}
/*this is the beginning of the Tops views*/
#topsjumbotron {
    background-size: 100% 100%;
    height: 350px;
    background-image: url('Photos/outdoorpic.jpg');
    color:white;
    text-align:center;
    border:10px;
    border-style:solid;
    border-color:#394610;
}
#topdisplayheader{
    font-size:70px;
}
#topindexbody {
    background-image: url('Photos/largetshirt.jpg'); 
    background-repeat:no-repeat;
}
#topsdetailsbody {
    background-image: url('Photos/suitjacketphoto.jpg');
    background-repeat:no-repeat;
}
/*this is the beginning of the bottoms views*/
#bottomsjumbotron {
    background-size: 100% 100%;
    height: 350px;
    background-image: url('Photos/captainamerica.JPG');
    color: whitesmoke;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: #CCDBC8;
}
#bottomindexbody {
    background-image: url('Photos/pantsphoto.jpg');
    width:115%;
}
#bottomdisplayheader{
    font-size:70px;
}
/*shoes views*/
#shoesjumbotron {
    background-size: 100% 100%;
    height: 350px;
    background-image: url('Photos/MJGoldShoes.jpg');
    color: whitesmoke;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: #C59D6C;
}
#shoesindexbody {
    background-image: url('Photos/someShoes.jpg');
    background-repeat:no-repeat;
    background-position:center;
}
#shoesdisplayheader{
    font-size:70px;
}
/*hats views*/
#hatsjumbotron {
    background-size: 100% 100%;
    height: 350px;
    background-image: url('Photos/Hatspano.JPG');
    color: white;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: #C8D44B;
}
#hatsindexbody {
    background-image: url('Photos/largeHat.jpg');
    background-repeat: no-repeat;
    background-position:center;
}
#hatsdisplayheader{
    font-size:70px;
}
/*jewelries views  (sidenote, "jewelries" is a tough name to keep spelling out, in the future i'll consider names carefully) */
#jewelsjumbotron {
    background-size: 100% 100%;
    height: 370px;
    background-image: url('Photos/panoramicCleveland.jpg');
    color: white;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: #DC0C48;
}
#jewelsindexbody {
    background-image: url('Photos/largejewelry.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
#jewelsdisplayheader{
    font-size:70px;
}
/*Accesories Views*/
#directions{
    color:white;
    font-size:16px;
    font-family:cursive;
}
#accesstype{
    color:red;
    font-size:25px;
    font-family:cursive;
    text-decoration:underline;
}
#accessjumbotron {
    background-size: 100% 100%;
    height: 370px;
    background-image: url('Photos/panoramicCleveland.jpg');
    color: white;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: #F6F6F6;
}
#accessindexbody {
    background-color:#003398;
}
#accessdisplayheader{
    font-size:70px;
}
#aindexheader{
    color:white;
    text-align:center;
    font-size:44px;
    font-family:cursive;
}
#accessthumbnail{
    height:700px;
}
/*Home Index View*/
#homejumbotron {
    background-size: 100% 100%;
    height: 310px;
    background-image: url('Photos/closetPano.JPG');
    color: white;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: #F6F6F6;
}
#homebody {
    background-image: url('Photos/fancyCloset.jpeg');
}
#homethumbnail{
    background-color:#D4A684;
    color:#DDD9CD;
    border:10px;
    border-style:solid;
    border-color:#DDD9CD;
}
#homep{
    color:white;
    font-size:40px;
    text-align:center;
    font-family:cursive;
}
/*Navbar*/
#navvy{
    background-color:darkblue;
    color:yellow;
    font-size:18px;
}
/*Footer*/
#footy{
    background-color:darkblue;
    color:yellow;
    font-size:18px;
}
/*This is for styling buttons on home page to access rest of app*/
#homebutton{
    background-color:black;
    color:yellow;
    font-size:28px;
}